/* App Configuration -----------------------------------*/
.App {
  text-align: center;
  background-color: #95c6b8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}
